<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Çok_Yönlü_Otomasyon_Programı.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Çok_Yönlü_Otomasyon_Programı.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Çok_Yönlü_Otomasyon_Programı.Properties.Settings.stokcariConnectionString"
            connectionString="Data Source=stokcari.database.windows.net;Initial Catalog=stokcari;User ID=admin1;Password=Kediaq123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Çok_Yönlü_Otomasyon_Programı.Properties.Settings>
            <setting name="cs_Sunucu" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="cs_Database" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="cs_UserID" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="cs_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
        </Çok_Yönlü_Otomasyon_Programı.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Çok_Yönlü_Otomasyon_Programı.Properties.Settings>
            <setting name="cs1" serializeAs="String">
                <value>Data Source =</value>
            </setting>
            <setting name="cs2" serializeAs="String">
                <value>Initial Catalog =</value>
            </setting>
            <setting name="cs_3" serializeAs="String">
                <value>User Id =</value>
            </setting>
            <setting name="cs4" serializeAs="String">
                <value>Password =</value>
            </setting>
        </Çok_Yönlü_Otomasyon_Programı.Properties.Settings>
    </applicationSettings>
</configuration>